<!--
@Date:   01-27-2017 12:01:98
@Project: AssetMonitoring
@Last modified time: 04-12-2017 12:04:59
@Copyright: 2017, Kii Corporation www.kii.com
-->

<div class="page page-datatables">
  <!-- page content -->
  <div class="pagecontent">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">
        <script type="text/ng-template" id="addTenantUserContent.html" ng-controller="FormsValidateCtrl">
          <div class="modal-header">
            <h3 class="modal-title custom-font">
            <strong>{{Add_or_Edit_User}}</strong>&nbsp;{{ 'LABELS.USER' | translate }}</h3>
          </div>
          <div class="modal-body">
            <form name="userForm" ng-submit="submit()" role="form" novalidate>
              <div alert-display />
              <div class="row">
                <div class="form-group col-md-12" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine, 'has-success' : userForm.username.$valid && !userForm.username.$pristine}" required>
                  <label for="username">{{ 'LABELS.USER_NAME' | translate }}:</label>
                  <input type="text" name="username" id="username" placeholder="{{ ('PLACE_HOLDERS.ENTER_VALID_EMAIL' | translate) + ' ' +  ('PLACE_HOLDERS.MANDATORY' | translate)}}" class="form-control" ng-pattern="emailPattern" ng-model="user.username" ng-change="user.sendMailTo=user.username"
                    ng-readonly="{{readOnly}}" focus-me={{focusUsername}}>
                  <p class="help-block">
                    <span ng-show="userForm.username.$invalid && !userForm.username.$pristine">{{ 'HELP_TEXT.VALID_EMAIL' | translate }}</span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="checkbox-inline checkbox-custom-alt">
                      <input type="checkbox" ng-change="generateRandomPassword()" ng-model="isGenerateChecked" ng-init="generateRandomPassword()"><i></i>
                      {{ 'CHECK_LIST.AUTO_GENERATE_PASSWORD' | translate }}
                    </label>
                </div>
                <div class="form-group col-md-6">
                  <label class="checkbox-inline checkbox-custom-alt">
                      <input type="checkbox" ng-model="isShowPasswordChecked" ng-change="hideShowPassword()"><i></i>
                      {{ 'CHECK_LIST.SHOW_PASSWORD' | translate }}
                    </label>
                </div>
              </div>
              <div class="row">
                <div class="form-group {{(isPasswordMandatory === true)? 'required' : '' }} col-md-6" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine, 'has-success' : userForm.password.$valid && !userForm.password.$pristine}">
                  <label for="password">{{ 'LABELS.PASSWORD' | translate }}: </label>
                  <input type="{{type}}" name="password" id="password" placeholder="{{ ('PLACE_HOLDERS.ENTER_NEW_PASSWORD' | translate) + ' ' +  mandatory_or_optional}}" class="form-control" ng-model="user.password" ng-required="isPasswordMandatory" ng-minlength="4" autocomplete="off">
                  <p class="help-block">
                    <span ng-show="userForm.password.$invalid && !userForm.password.$pristine">{{ 'HELP_TEXT.PASSWORD_REQUIRED' | translate }}</span>
                    <span ng-show="userForm.password.$error.minlength">{{ 'HELP_TEXT.PASSWORD_TOO_SHORT' | translate }}</span>
                  </p>
                </div>
                <div class="form-group {{(isPasswordMandatory === true)? 'required' : '' }} col-md-6" ng-class="{ 'has-error' : userForm.passwordConfirm.$invalid && !userForm.passwordConfirm.$pristine, 'has-success' : userForm.passwordConfirm.$valid && !userForm.passwordConfirm.$pristine}">
                  <label for="passwordConfirm">{{ 'LABELS.CONFIRM_PASSWORD' | translate }}: </label>
                  <input type="{{type}}" name="passwordConfirm" id="passwordConfirm" placeholder="{{ ('PLACE_HOLDERS.CONFIRM_NEW_PASSWORD' | translate) + ' ' +  mandatory_or_optional}}" class="form-control" ng-model="user.passwordConfirm" ng-required="isPasswordMandatory"
                    ui-validate=" '$value==user.password' " ui-validate-watch=" 'user.password' " autocomplete="off">
                  <p class="help-block">
                    <span ng-show='userForm.passwordConfirm.$error.validator'>{{ 'HELP_TEXT.PASSWORD_NOT_MATCH' | translate }}</span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6" ng-class="{ 'has-error' : userForm.userFirstName.$invalid && !userForm.userFirstName.$pristine, 'has-success' : userForm.userFirstName.$valid && !userForm.userFirstName.$pristine}" required>
                  <label for="First Name">{{ 'LABELS.FIRST_NAME' | translate }}: </label>
                  <input type="text" name="userFirstName" id="userFirstName" placeholder="{{ ('PLACE_HOLDERS.ENTER_FIRST_NAME' | translate) + ' ' +  ('PLACE_HOLDERS.MANDATORY' | translate)}}" class="form-control" ng-model="user.firstName" focus-me={{focusFirstName}}>
                  <p class="help-block">
                    <span ng-show='userForm.userFirstName.$invalid && !userForm.userFirstName.$pristine'>{{ 'HELP_TEXT.FIRST_NAME_REQUIRED' | translate }}</span>
                  </p>
                </div>
                <div class="form-group col-md-6" ng-class="{ 'has-error' : userForm.userLastName.$invalid && !userForm.userLastName.$pristine, 'has-success' : userForm.userLastName.$valid && !userForm.userLastName.$pristine}" required>
                  <label for="Last Name">{{ 'LABELS.LAST_NAME' | translate }}: </label>
                  <input type="text" name="userLastName" id="userLastName" placeholder="{{ ('PLACE_HOLDERS.ENTER_LAST_NAME' | translate) + ' ' +  ('PLACE_HOLDERS.MANDATORY' | translate)}}" class="form-control" ng-model="user.lastName">
                  <p class="help-block">
                    <span ng-show='userForm.userLastName.$invalid && !userForm.userLastName.$pristine'>{{ 'HELP_TEXT.LAST_NAME_REQUIRED' | translate }}</span></span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="First Name">{{ 'LABELS.ADDRESS' | translate }}:  </label>
                  <input type="text" name="userAddress" id="userAddress" placeholder="{{ ('PLACE_HOLDERS.ENTER_ADDRESS' | translate) + ' ' +  ('PLACE_HOLDERS.OPTIONAL' | translate)}}" class="form-control" ng-model="user.userAddress" googleplace>
                </div>

                <div class="form-group col-md-6" required>
                  <label for="role">{{ 'LABELS.ROLE' | translate }}:  </label>
                  <select class="form-control" id="userrole" ng-options="role.option as role.view for role in tenantUserRoles" ng-model="user.userRole" ng-change="disableLevel()">
                                    </select>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label class="control-label">{{ 'LABELS.AVATAR' | translate }}: </label>
                  <div class="input-group col-md-12"> <span class="input-group-addon"><img class="size-20x20" ng-src="{{user.userImage?user.userImage:'images/user-icon.png'}}" /></span>
                    <input ui-jq="filestyle" type="file" id="avatar" fileread="user.userImage" accept="image/*" class="filestyle" ui-options="{
                                        buttonText: '{{ 'BUTTONS.UPLOAD_AVATAR' | translate }}',
                                        iconName: 'fa fa-inbox'
                                    }"> </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6" required>
                  <label for="role">{{ 'LABELS.STATUS' | translate }}: </label>
                  <select class="form-control" id="userStatus" ng-model="user.userStatus">
                                        <option value="Active">Active</option>
                                        <option value="Suspended">Suspended</option>
                                    </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="phone">{{ 'LABELS.PHONE' | translate }}:</label>
                  <br/>
                  <input type="text" id="phone" name="userPhoneNo" class="form-control" ng-model="user.phoneNumber" intl-tel-input>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12" ng-class="{ 'has-error' : userForm.sendMailTo.$invalid && !userForm.sendMailTo.$pristine, 'has-success' : userForm.sendMailTo.$valid && !userForm.sendMailTo.$pristine}" ng-hide="user.password === ''">
                  <label for="sendMailTo">{{ 'LABELS.EMAIL_PASSWORD_TO' | translate }}:</label>
                  <input type="text" name="sendMailTo" id="sendMailTo" placeholder="{{ ('PLACE_HOLDERS.ENTER_VALID_EMAIL' | translate) + ' ' +  ('PLACE_HOLDERS.OPTIONAL' | translate)}}" class="form-control" ng-model="user.sendMailTo" ng-pattern="emailPattern">
                  <p class="help-block">
                    <span ng-show="userForm.sendMailTo.$invalid && !userForm.sendMailTo.$pristine">{{ 'HELP_TEXT.VALID_EMAIL' | translate }}</span>
                  </p>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="submit(userForm.$valid)" ng-disabled="userForm.$invalid"><i class="fa fa-arrow-right"></i>{{Add_or_Update}}</button>
            <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> {{ 'BUTTONS.CANCEL' | translate }}</button>
          </div>
          </form>
        </script>
        <!-- Delete Prompt -->
        <script type="text/ng-template" id="deleteTenantUserContent.html">
          <div class="modal-header">
            <h3 class="modal-title custom-font"><strong>{{'CRUD.DELETE' | translate}}</strong>&nbsp;{{ 'LABELS.USER' | translate }}</h3>
          </div>
          <div class="modal-body text-center">
            <p class="text-danger"><strong>{{('INFO.DELETE_USER' | translate)}}</strong></p>
            <div class="row"><strong>{{ 'LABELS.USER_NAME' | translate }}: </strong> {{deleteUserMail}}</div>
            <div class="row"><strong>{{ 'LABELS.NAME' | translate }}: </strong> {{deleteUserName}}</div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="deleteUser()"><i class="fa fa-arrow-right"></i> {{ 'CRUD.DELETE' | translate }}</button>
            <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> {{ 'BUTTONS.CANCEL' | translate }}</button>
          </div>
        </script>
        <!-- /Delete Prompt -->
        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen02">
          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <a href="" ng-click="addTenantUser()"><h3><i class="fa fa-plus"></i> <strong>{{ 'CRUD.ADD' | translate }}</strong>&nbsp;{{ 'LABELS.USER' | translate }}</h3></a>
            <ul class="controls">
              <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
                <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>
                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                  <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                    <li>
                      <a href tile-control-toggle>
                            <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;{{ 'LABELS.MINIMIZE' | translate }}</span>
                            <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;{{ 'LABELS.EXPAND' | translate }}</span>
                          </a>
                    </li>
                    <li>
                      <a href ng-click="tenantUsersInfo.dtInstance.reloadData()">
                        <fa name="refresh"></fa> {{ 'LABELS.REFRESH' | translate }}
                      </a>
                    </li>
                    <li>
                      <a href tile-control-fullscreen ng-click="isFullscreen02 = !isFullscreen02">
                        <fa name="expand"></fa> {{ 'LABELS.FULL_SCREEN' | translate }}
                      </a>
                    </li>
                    <li>
                      <a href tile-control-lightbox>
                        <fa name="magnet"></fa> {{ 'LABELS.OPEN_IN_LIGHTBOX' | translate }}
                      </a>
                    </li>
                  </ul>
                </ul>
          </div>
          <!-- /tile header -->
          <!-- tile body -->
          <div class="tile-body table-custom">
            <table id="tenant-users" name="tenant-users" width="100%" datatable="" dt-options="tenantUsersInfo.dtOptions" dt-columns="tenantUsersInfo.dtColumns" dt-instance="tenantUsersInfo.dtInstance" class="table table-custom">
              <thead>
                <tr>
                  <th class="bt-0">{{ 'LABELS.USER_NAME' | translate }}</th>
                  <th class="bt-0">{{ 'LABELS.NAME' | translate }}</th>
                  <th class="bt-0">{{ 'LABELS.ROLE' | translate }}</th>
                  <th class="bt-0">{{ 'LABELS.STATUS' | translate }}</th>
                  <th class="bt-0 text-center">{{ 'LABELS.ACTION' | translate }}</th>
                </tr>
              </thead>
            </table>
          </div>
          <!-- /tile body -->
        </section>
        <!-- /tile -->
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /page content -->
</div>
