<!--
@Date:   10-16-2017 10:02:55
@Project: AssetMonitoring
@Last modified time: 04-12-2017 12:04:71
@Copyright: 2017, Kii Corporation www.kii.com
-->\
<div class="page page-datatables">
  <!-- update model name prompt -->
  <script type="text/ng-template" id="editDeviceNamePrompt.html">
    <div class="modal-header">
      <h3 class="modal-title custom-font"><strong>{{ 'VIEW.EDIT' | translate }}</strong>&nbsp;{{ 'LABELS.DEVICE' | translate }}</h3>
    </div>
    <div class="modal-body">
      <form name="editDeviceNameForm" ng-submit="submit()" role="form" novalidate>
        <div alert-display></div>
        <div class="row">
          <div class="form-group col-md-6" ng-class="{ 'has-error' : editDeviceNameForm.modelName.$invalid && !editDeviceNameForm.modelName.$pristine, 'has-success' : editDeviceNameForm.modelName.$valid && !editDeviceNameForm.modelName.$pristine}" required>
            <label for="modelName">{{ 'LABELS.NAME' | translate }}: </label>
            <input type="text" name="modelName" id="modelName" placeholder="{{ ('PLACE_HOLDERS.ENTER_NAME' | translate) + ' ' +  ('PLACE_HOLDERS.MANDATORY' | translate)}}" class="form-control" ng-model="deviceNameToEdit" ng-readOnly="{{enableToMaster}}">
            <p class="help-block">
              <span ng-show="editDeviceNameForm.modelName.$invalid && !editDeviceNameForm.modelName.$pristine">{{ 'HELP_TEXT.ENTER_NAME' | translate }}</span>
            </p>
          </div>
          <div class="form-group col-md-6">
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-disabled="editDeviceNameForm.$invalid" ng-click="submit();" ng-show="{{showMaster}}"><i class="fa fa-arrow-right"></i> {{ 'BUTTONS.UPDATE' | translate }}</button>
      <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> {{ 'BUTTONS.CANCEL' | translate }}</button>
    </div>
  </script>
  <div class="pageheader">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.devices" class="btn btn-brand-color"><i class="fa fa-arrow-left"></i> &nbsp;{{ 'BUTTONS.BACK_TO_DEVICES' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- page content -->
  <div class="pagecontent">
    <!-- tile -->
    <section class="tile" fullscreen="isFullscreen02">
      <!-- tile header -->
      <div class="tile-header dvd dvd-btm ">
        <i class="fa fa-microchip"></i>&nbsp;&nbsp;<strong>{{deviceDisplayName}}</strong>&nbsp;
        <a title="Edit" href ng-click="editDeviceName();"><i class="fa fa-pencil-square-o"></i></a> &nbsp;&nbsp;

        <ul class="controls">
          <ul class="controls ">
            <li class="dropdown" uib-dropdown on-toggle="toggled(open) ">
              <a href uib-dropdown-toggle class="dropdown-toggle settings "><i class="fa fa-cog "></i></a>
              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href tile-control-toggle>
                        <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;{{ 'LABELS.MINIMIZE' | translate }}</span>
                        <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;{{ 'LABELS.EXPAND' | translate }}</span>
                      </a>
                </li>
                <li>
                  <a href ng-click="modelInfo.dtInstance.reloadData()">
                    <fa name="refresh"></fa> {{ 'LABELS.REFRESH' | translate }}
                  </a>
                </li>
                <li>
                  <a href tile-control-fullscreen ng-click="isFullscreen02 = !isFullscreen02">
                    <fa name="expand"></fa> {{ 'LABELS.FULL_SCREEN' | translate }}
                  </a>
                </li>
                <li>
                  <a href tile-control-lightbox>
                    <fa name="magnet"></fa> {{ 'LABELS.OPEN_IN_LIGHTBOX' | translate }}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
      </div>
      <!-- /tile header -->
      <!-- tile body-->
      <div class="tile-body">
        <uib-tabset justified="true">
          <uib-tab ng-repeat="tab in tabs" select="setTabContent(tab.content)">
            <uib-tab-heading>
              <strong>{{tab.heading}}</strong>
            </uib-tab-heading>
          </uib-tab>
          <ng-include src="tabContentUrl"></ng-include>
        </uib-tabset>
      </div>
    </section>
    <!-- /tile -->
  </div>
  <!-- /page content -->
</div>
