<!--
@Date:   01-27-2017 12:01:26
@Project: 24/7PizzaBOX
@Last modified time: 04-11-2017 14:04:43
@Copyright: 2017, Kii Corporation www.kii.com
-->

<div class="page page-datatables">
  <!-- page content -->
  <div class="pagecontent">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">
        <!-- Delete Zone Prompt -->
        <script type="text/ng-template" id="deleteZonePrompt.html">
          <div class="modal-header">
            <h3 class="modal-title custom-font"><strong>{{'CRUD.DELETE' | translate}}</strong>&nbsp;{{'LABELS.ZONE' | translate}}</h3>
          </div>
          <div class="modal-body text-center">
            <p class="text-danger"><strong>{{'INFO.DELETE_ZONE' | translate}}</strong></p>
            <div class="row"><strong>{{'LABELS.NAME' | translate}}: </strong> {{deleteZoneName}}</div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="deleteZone()"><i class="fa fa-arrow-right"></i> {{ 'CRUD.DELETE' | translate }}</button>
            <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> {{'BUTTONS.CANCEL' | translate}}</button>
          </div>
        </script>
        <!-- /Delete Zone Prompt -->
        <!-- Add Zone Prompt -->
        <script type="text/ng-template" id="addZonePrompt.html">
          <div class="modal-header">
            <h3 class="modal-title custom-font">
                            <strong>{{Add_or_Update_Zone}}</strong>&nbsp;{{'LABELS.ZONE' | translate}}</h3>
          </div>
          <div class="modal-body">
            <form name="zoneForm" ng-submit="submit()" role="form" novalidate>
              <div alert-display />
              <div class="form-group" ng-class="{ 'has-error' : zoneForm.zoneName.$invalid && !zoneForm.zoneName.$pristine, 'has-success' : userForm.zoneName.$valid && !userForm.zoneName.$pristine}" required>
                <label for="zoneName">{{'LABELS.NAME' | translate}}: </label>
                <input type="text" name="zoneName" id="zoneName" placeholder="{{ ('PLACE_HOLDERS.ENTER_NAME' | translate) + ' ' +  ('PLACE_HOLDERS.MANDATORY' | translate)}}" class="form-control" ng-model="zoneName" focus-me="true">
                <p class="help-block">
                  <span ng-show="zoneForm.zoneName.$invalid && !zoneForm.zoneName.$pristine">{{'HELP_TEXT.ENTER_NAME' | translate}}</span>
                </p>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="submit(zoneForm.$valid)" ng-disabled="zoneForm.$invalid"><i class="fa fa-arrow-right"></i>{{Add_or_Update}}</button>
            <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> {{'BUTTONS.CANCEL' | translate}}</button>
          </div>
          </form>
        </script>
        <!-- /Add Zone Prompt -->
        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen02">
          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <a href ng-click="addZone()">
              <h3><i class="fa fa-plus"></i> <strong> {{'CRUD.ADD' | translate}}</strong>&nbsp;{{'LABELS.ZONE' | translate}}</h3>
            </a>
            <ul class="controls">
              <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
                <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>
                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                  <li>
                    <a href tile-control-toggle>
                          <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;{{ 'LABELS.MINIMIZE' | translate }}</span>
                          <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;{{ 'LABELS.EXPAND' | translate }}</span>
                        </a>
                  </li>
                  <li>
                    <a href ng-click="zonesInfo.dtInstance.reloadData()">
                      <fa name="refresh"></fa> {{ 'LABELS.REFRESH' | translate }}
                    </a>
                  </li>
                  <li>
                    <a href tile-control-fullscreen ng-click="isFullscreen02 = !isFullscreen02">
                      <fa name="expand"></fa> {{ 'LABELS.FULL_SCREEN' | translate }}
                    </a>
                  </li>
                  <li>
                    <a href tile-control-lightbox>
                      <fa name="magnet"></fa> {{ 'LABELS.OPEN_IN_LIGHTBOX' | translate }}
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- /tile header -->
          <!-- tile body -->
          <div class="tile-body table-custom">
            <table id="zones" name="zones" width="100%" datatable="" dt-options="zonesInfo.dtOptions" dt-columns="zonesInfo.dtColumns" dt-instance="zonesInfo.dtInstance" class="table table-custom">
              <thead>
                <tr>
                  <th class="bt-0">{{'LABELS.NAME' | translate}}</th>
                  <th class="bt-0">{{ 'Menu.ASSETTYPES' | translate }}</th>
                  <th class="bt-0">{{'LABELS.TECHNICIANS_COUNT' | translate}}</th>
                  <th class="bt-0">{{'LABELS.OBSERVERS_COUNT' | translate}}</th>
                  <th class="bt-0 text-center">{{'LABELS.ACTION' | translate}}</th>
                </tr>
              </thead>
            </table>
          </div>
          <!-- /tile body -->
        </section>
        <!-- /tile -->
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /page content -->
</div>
