<!--
@Date:   01-27-2017 12:01:97
@Project: AssetMonitoring
@Last modified time: 04-12-2017 18:04:43
@Copyright: 2017, Kii Corporation www.kii.com
-->

<footer class="text-center scheme-cream" style="padding:10px 20px;position:fixed;left:0;right:0;bottom:0;z-index:12;">
  <div class="clearfix">
    <strong class="text-black"> © {{copyrightYear}} <a onclick="window.open('//Cyient.com/')" title="" style="cursor: pointer;">CYIENT</a>. {{'HELP_TEXT.ALL_RIGHTS_RESERVED' | translate}} </strong>
  </div>
</footer>
